{% extends 'base.html' %}

{% block title %}Définir mon mot de passe{% endblock title %}

{% block content %}
<div class="container-redzone">
    {% if validlink %}
    <h1 class="title">Définir mon mot de passe</h1>
    <form class="form-redzone" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="form-errors">
            {% for field in form %}{% for error in field.errors %}{{ error }}<br>{% endfor %}{% endfor %}
        </div>
        {% endif %}
        <div class="form-row-redzone">
            <label class="label-redzone" for="{{ form.new_password1.id_for_label }}">Nouveau mot de passe :</label>
            <input class="input-redzone" type="password" name="new_password1" id="{{ form.new_password1.id_for_label }}" required>
        </div>
        <div class="form-row-redzone">
            <label class="label-redzone" for="{{ form.new_password2.id_for_label }}">Confirmer le mot de passe :</label>
            <input class="input-redzone" type="password" name="new_password2" id="{{ form.new_password2.id_for_label }}" required>
        </div>
        <button class="button-redzone" type="submit">Full gaz</button>
    </form>
    {% else %}
    <h1 class="title">Lien invalide</h1>
    <p class="subtitle">Ce lien a expiré ou est invalide. Contacte l'admin pour recevoir un nouveau lien.</p>
    {% endif %}
</div>
{% endblock content %}
