{% extends 'base.html' %}
{% load static %}


{% block title %}
    Home
{% endblock title %}



{% block content %}
        <div class="carousel-container" x-data="carousel()">
            <button class="carousel-button carousel-button-prev" @click="prev()">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M15 18l-6-6 6-6"/>
                </svg>
            </button>

            <div class="carousel-wrapper" x-ref="wrapper">
                <div class="carousel-track"
                     x-ref="track"
                     @mousedown="handleMouseDown($event)"
                     @mousemove="handleMouseMove($event)"
                     @mouseup="handleMouseUp($event)"
                     @mouseleave="handleMouseUp($event)"
                     @touchstart="handleTouchStart($event)"
                     @touchmove="handleTouchMove($event)"
                     @touchend="handleTouchEnd($event)">
                    {% for image in bikers_images %}
                    <div class="card">
                        <img src="{% static image %}" alt="Biker {{ forloop.counter }}" class="card-image">
                        <div class="card-overlay">
<!--                             <h3 class="card-title">Membre #{{ forloop.counter }}</h3>
 -->                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <button class="carousel-button carousel-button-next" @click="next()">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M9 18l6-6-6-6"/>
                </svg>
            </button>
        </div>
{% endblock content %}
