{% extends 'base.html' %}

{% block title %}Changer mon mot de passe{% endblock title %}

{% block redzone_active %}active{% endblock redzone_active %}

{% block content %}
<div class="container-redzone">
    <h1 class="title">Changer mon mot de passe</h1>
    <form class="form-redzone" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="form-errors">
            {% for field in form %}{% for error in field.errors %}{{ error }}<br>{% endfor %}{% endfor %}
        </div>
        {% endif %}
        <div class="form-row-redzone">
            <label class="label-redzone" for="{{ form.old_password.id_for_label }}">Mot de passe actuel :</label>
            <input class="input-redzone" type="password" name="old_password" id="{{ form.old_password.id_for_label }}" required>
        </div>
        <div class="form-row-redzone">
            <label class="label-redzone" for="{{ form.new_password1.id_for_label }}">Nouveau mot de passe :</label>
            <input class="input-redzone" type="password" name="new_password1" id="{{ form.new_password1.id_for_label }}" required>
        </div>
        <div class="form-row-redzone">
            <label class="label-redzone" for="{{ form.new_password2.id_for_label }}">Confirmer le nouveau mot de passe :</label>
            <input class="input-redzone" type="password" name="new_password2" id="{{ form.new_password2.id_for_label }}" required>
        </div>
        <button class="button-redzone" type="submit">Valider</button>
    </form>
</div>
{% endblock content %}
